In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress
import plotly.graph_objects as go

In [3]:
grad1= "data_files/grad_rates.xlsx"
rev1 = "data_files/revenue.xlsx"

In [4]:
gradrate=pd.read_excel(grad1)
reven=pd.read_excel(rev1)

In [27]:
reven

,STATE,YEAR,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE
0,ALABAMA,2007,7069040,689072,4070949,2309019,7196459,3653466,2174210,546077,687816
1,ALASKA,2007,1800616,282270,1052357,465989,1938755,927307,645857,60699,257723
2,ARIZONA,2007,8724434,953861,4204089,3566484,8709531,3977800,2656438,403069,1436673
3,ARKANSAS,2007,4415981,483689,3319030,613262,4779308,2337748,1378576,450454,470562
4,CALIFORNIA,2007,72516936,7200298,42333637,22983001,73225422,34685013,20655194,3467540,10058842
...,...,...,...,...,...,...,...,...,...,...,...
510,VIRGINIA,2016,16259274,1058146,6297587,8903541,16497520,8944614,5164699,643506,1161323
511,WASHINGTON,2016,14964364,1097684,9211201,4655479,15253296,7087365,4904575,577606,2204059
512,WEST_VIRGINIA,2016,3391579,358068,1863062,1170449,3366566,1804235,1127255,236487,181392
513,WISCONSIN,2016,11697466,782610,5986763,4928093,11787535,5760418,3691439,508013,1082849
514,WYOMING,2016,2044669,123012,1175899,745758,2034229,921494,585700,53570,454302

In [29]:
grouped = reven.groupby(['STATE'])
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000018E4C91A3C8>